{% extends "base/header-footer.html" %}
{% load static %}
{% block container %}

<!DOCTYPE html>
<html lang="en">
  <body>

<section id="new-member">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                
                {% include 'base/sidebar.html' %}

            </div>
            <div class="col-md-10">
                <div class="dashboard-mid-part">
                    <div class="dashboard-content">
                        <div class="mid-complain-heading">
                        
                            <div class="dash-header">
                                <a onclick="goBack()" href="#" id="back-button">
                                <div class="pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path
                                            d="M13.7369 17.5254C13.6332 17.5256 13.5305 17.5052 13.4347 17.4655C13.3388 17.4259 13.2518 17.3677 13.1786 17.2942L8.44174 12.5574C8.29379 12.4092 8.21069 12.2084 8.21069 11.9991C8.21069 11.7897 8.29379 11.5889 8.44174 11.4408L13.1786 6.70392C13.3266 6.55584 13.5275 6.47266 13.7369 6.47266C13.9463 6.47266 14.1471 6.55584 14.2952 6.70392C14.4433 6.85199 14.5265 7.05282 14.5265 7.26223C14.5265 7.47164 14.4433 7.67248 14.2952 7.82055L10.1167 11.9997L14.2952 16.1776C14.4056 16.288 14.4809 16.4287 14.5113 16.5819C14.5418 16.735 14.5262 16.8938 14.4664 17.0381C14.4066 17.1823 14.3054 17.3056 14.1756 17.3924C14.0457 17.4791 13.8931 17.5254 13.7369 17.5254Z"
                                            fill="black" />
                                    </svg>
                                </div></a>
                                <div class="heading">
                                    <p>Edit Membership Details</p>
                                </div>
                            </div>
                        </div>

                        {% for message in messages %}
                        {% if message.tags == "success" %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% elif message.tags == "error" %}
                        <div class="failed-message">
                            {{message}}
                        </div>
                        {% elif message.tags == "info" %}
                        <div class="info-message">
                            {{message}}
                        </div>
                        {% endif %}
                        {% endfor %}

                        <h5>Remarks: {{gl.remarks}}</h5>

                        <div class="new-member">
                              <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="general-tab-pane" role="tabpanel" aria-labelledby="general-tab" tabindex="0">

                                    <form action="" method="post" class="member-personal" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <h3>1. Personal Information</h3>
                                        <div class="member-details">
                                            <div class="member-info">
                                                <p class="required">Salutation</p>
                                                <div class="info-inner">
                                                    <select name="salutation" id="salutation">
                                                        {% if gl.salutation %}
                                                            <option value="{{gl.salutation}}" selected>{{gl.get_salutation_display}}</option>
                                                        {% endif %}
                                                        {% for k, v in salutation %}
                                                            {% if k != gl.salutation %}
                                                                <option value="{{k}}">{{v}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="member-info">
                                                <p class="required">Name of Applicant</p>
                                                <div class="info-inner">
                                                    <input type="text" name="name_of_applicant" id="name" value="{{gl.name_of_applicant}}" required>
                                                </div>
                                            </div>
                                            <div class="member-info">
                                                <p class="required">Date Of Birth</p>
                                                <div class="info-inner">
                                                    <input type="date" name="dob" id="dob" value="{{gl.dob}}" required>
                                                </div>
                                            </div>
                                            <div class="member-info">
                                                <p class="required">Gender</p>
                                                <div class="info-inner">
                                                    <select name="gender" id="gender" required>
                                                        {% if gl.gender %}
                                                            <option value="{{gl.gender}}" selected>{{gl.get_gender_display}}</option>
                                                        {% endif %}
                                                        {% for k, v in gender %}
                                                            {% if k != gl.gender %}
                                                                <option value="{{k}}">{{v}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="member-info">
                                                <p class="required">Permanent Address</p>
                                                <div class="info-inner">
                                                    <input type="text" name="permanent_address" id="address" value="{{gl.permanent_address}}" required>
                                                </div>
                                            </div>
                                            <div class="member-info">
                                                <p class="required">Affiliation</p>
                                                <div class="info-inner">
                                                    <input type="text" name="affiliation" id="affiliation" value="{{gl.affiliation}}" required>
                                                </div>
                                            </div>
                                            <div class="member-info">
                                                <p class="required">Nationality</p>
                                                <div class="info-inner">
                                                    <select id="country" name="nationality" required>
                                                        {% if gl.nationality %}
                                                            <option value="{{gl.nationality}}" selected>{{gl.get_nationality_display}}</option>
                                                        {% endif %}
                                                        {% for k, v in countries %}
                                                            {% if k != gl.nationality %}
                                                                <option value="{{k}}">{{v}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="member-info">
                                                <p class="required">Citizenship Card No.</p>
                                                <div class="info-inner">
                                                    <input type="text" name="citizenship_card_no" id="citizen" value="{{gl.citizenship_card_no}}" required>
                                                </div>
                                            </div>
                                            <div class="member-info">
                                                <p class="required">Issued From</p>
                                                <div class="info-inner">
                                                    <select name="issued_from" id="issued_from" required>
                                                        {% if gl.districts %}
                                                            <option value="{{gl.districts}}" selected>{{gl.get_districts_display}}</option>
                                                        {% endif %}
                                                        {% for k, v in districts %}
                                                            {% if k != gl.districts %}
                                                                <option value="{{k}}">{{v}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <h3>2. Education</h3>

                                        <h4 class="required edu-head">i. BE/ Equivalent</h4>
                                        <div class="member-details">
                                            <div class="member-info3">
                                                <p class="required">Subject</p>
                                                <div class="info-inner">
                                                    <input type="text" name="be_subject" id="besubject" value="{{gl.be_subject}}" required>
                                                </div>
                                            </div>

                                            <div class="member-info3">
                                                <p class="required">Institution</p>
                                                <div class="info-inner">
                                                    <input type="text" name="be_institution" id="beinstitute" value="{{gl.be_institution}}" required>
                                                </div>
                                            </div>

                                            <div class="member-info3">
                                                <p class="required">Country</p>
                                                <div class="info-inner">
                                                    <select id="country" name="be_country" required>
                                                        {% if gl.be_country %}
                                                            <option value="{{gl.be_country}}" selected>{{gl.get_be_country_display}}</option>
                                                        {% endif %}
                                                        {% for k, v in countries %}
                                                            {% if k != gl.be_country %}
                                                                <option value="{{k}}">{{v}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="member-info3">
                                                <p class="required">Passed Year</p>
                                                <div class="info-inner">
                                                    <input type="text" name="be_passed_year" id="bepass" value="{{gl.be_passed_year}}" required>
                                                </div>
                                            </div>
                                        </div>

                                        <h4 class="edu-head">ii. ME/ Equivalent</h4>
                                        <div class="member-details">
                                            <div class="member-info3">
                                                <p>Subject</p>
                                                <div class="info-inner">
                                                    <input type="text" name="me_subject" id="mesubject" value="{{gl.me_subject|default:""}}">
                                                </div>
                                            </div>

                                            <div class="member-info3">
                                                <p>Institution</p>
                                                <div class="info-inner">
                                                    <input type="text" name="me_institution" id="meinstitute" value="{{gl.me_institution|default:""}}">
                                                </div>
                                            </div>

                                            <div class="member-info3">
                                                <p>Country</p>
                                                <div class="info-inner">
                                                    <select id="country" name="me_country">
                                                        {% if gl.me_country %}
                                                            <option value="{{gl.me_country}}" selected>{{gl.get_me_country_display}}</option>
                                                        {% else %}
                                                            <option value="" selected>Select Country</option>
                                                        {% endif %}
                                                        {% for k, v in countries %}
                                                            {% if k != gl.me_country %}
                                                                <option value="{{k}}">{{v}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="member-info3">
                                                <p>Passed Year</p>
                                                <div class="info-inner">
                                                    <input type="text" name="me_passed_year" id="mepass" value="{{gl.me_passed_year|default:""}}">
                                                </div>
                                            </div>
                                        </div>

                                        <h4 class="edu-head">iii. PHD/ Equivalent</h4>
                                        <div class="member-details">
                                            <div class="member-info3">
                                                <p>Subject</p>
                                                <div class="info-inner">
                                                    <input type="text" name="phd_subject" id="phdsubject" value="{{gl.phd_subject|default:""}}">
                                                </div>
                                            </div>

                                            <div class="member-info3">
                                                <p>Institution</p>
                                                <div class="info-inner">
                                                    <input type="text" name="phd_institution" id="phdinstitute" value="{{gl.phd_institution|default:""}}">
                                                </div>
                                            </div>

                                            <div class="member-info3">
                                                <p>Country</p>
                                                <div class="info-inner">
                                                    <select id="country" name="phd_country">
                                                        {% if gl.phd_country %}
                                                            <option value="{{gl.phd_country}}" selected>{{gl.get_phd_country_display}}</option>
                                                        {% else %}
                                                            <option value="" selected>Select Country</option>
                                                        {% endif %}
                                                        {% for k, v in countries %}
                                                            {% if k != gl.phd_country %}
                                                                <option value="{{k}}">{{v}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="member-info3">
                                                <p>Passed Year</p>
                                                <div class="info-inner">
                                                    <input type="text" name="phd_passed_year" id="phdpass" value="{{gl.phd_passed_year|default:""}}">
                                                </div>
                                            </div>
                                        </div>

                                        <h3>3. Documents</h3>
                                        <div class="member-details">
                                            <div class="member-info2">
                                                <p class="required">PP Photo</p>
                                                <div class="inner-image">
                                                    <img src="{{ gl.pp_photo.url }}" alt="pp photo" width="50%">
                                                    <input type="file" name="pp_photo" id="photo" accept="image/*">
                                                </div>
                                            </div>

                                            <div class="member-info2">
                                                <p class="required">Citizenship</p>
                                                <div class="inner-image">
                                                    <img src="{{ gl.citizenship.url }}" alt="citizenship photo" width="50%">
                                                    <input type="file" name="citizenship" id="citizenphoto" accept="image/*">
                                                </div>
                                            </div>

                                            <div class="member-info2">
                                                <p class="required">Any highest degree certificate or verified work experience letter</p>
                                                <div class="inner-image">
                                                    <img src="{{ gl.masters_document.url }}" alt="" width="50%">
                                                    <input type="file" name="masters_document" id="masterdoc" accept="image/*">
                                                </div>
                                            </div>

                                        </div>

                                        <h3>4. Work Experience</h3>
                                        <div class="member-details">
                                            <div class="member-info">
                                                <p class="required">Brief Description</p>
                                                <div class="member-info">
                                                    <textarea name="work_experience" id="brief-des" cols="10" rows="5">{{gl.work_experience}}</textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="Submit">Update</button>
                                    </form>
                                </div>

                              </div>
                        </div>
                    </div>
                    
                </div>


            </div>



        </div>
    </div>
</section>
</body>
</html>

{% endblock %}