{% extends "base/header-footer.html" %}
{% load static %}
{% block container %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css"
         integrity="sha512-nNlU0WK2QfKsuEmdcTwkeh+lhGs6uyOxuUs+n+0oXSYDok5qy0EI0lt01ZynHq6+p/tbgpZ7P+yUb+r71wqdXg=="
         crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    

    <section id="dashboard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                
                    {% include 'base/sidebar.html' %}
    
                </div>
                <div class="col-md-10">
                  <div class="dashboard-mid-part">
                    <div class="mid-complain-heading">
                            
                      <div class="dash-header">
                          <a onclick="goBack()" href="#" id="back-button">
                          <div class="pointer">
                              <svg xmlns="http://www.w3.org/2000/svg"
                                  width="24" height="24" viewBox="0 0 24 24"
                                  fill="none">
                                  <path
                                      d="M13.7369 17.5254C13.6332 17.5256 13.5305 17.5052 13.4347 17.4655C13.3388 17.4259 13.2518 17.3677 13.1786 17.2942L8.44174 12.5574C8.29379 12.4092 8.21069 12.2084 8.21069 11.9991C8.21069 11.7897 8.29379 11.5889 8.44174 11.4408L13.1786 6.70392C13.3266 6.55584 13.5275 6.47266 13.7369 6.47266C13.9463 6.47266 14.1471 6.55584 14.2952 6.70392C14.4433 6.85199 14.5265 7.05282 14.5265 7.26223C14.5265 7.47164 14.4433 7.67248 14.2952 7.82055L10.1167 11.9997L14.2952 16.1776C14.4056 16.288 14.4809 16.4287 14.5113 16.5819C14.5418 16.735 14.5262 16.8938 14.4664 17.0381C14.4066 17.1823 14.3054 17.3056 14.1756 17.3924C14.0457 17.4791 13.8931 17.5254 13.7369 17.5254Z"
                                      fill="black" />
                              </svg>
                          </div></a>
                          <div class="heading">
                              <p>Institutional Membership verification list</p>
                          </div>
                      </div>
                    </div>
        
                    {% for message in messages %}
                    {% if message.tags == "success" %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                      {{message}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                    {% elif message.tags == "error" %}
                    <div class="failed-message">
                        {{message}}
                    </div>
                    {% elif message.tags == "info" %}
                    <div class="info-message">
                        {{message}}
                    </div>
                    {% endif %}
                    {% endfor %}
                  
                    <div class="general-table">
                      <table id="example" class="display container" style="width:100%">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Company Name</th>
                                <th>Company Address</th>
                                <th>Registration No</th>
                                <th>Verification</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for members in members_for_verification %}
                            <tr>
                                <td>{{members.id}}</td>
                                <td>{{members.company_name}}</td>
                                <td>{{members.company_address}}</td>
                                <td>{{members.registration_no}}</td>
                                <td>
                                  {% if members.verification == True %}
                                    <i class="fa-solid fa-circle-check" id="checked" style="color:#27d935; font-size: 18px;"></i>
                                  {% elif members.verification == False %}
                                    <i class="fa-solid fa-circle-xmark" id="not-checked" style="color:#ed2027; font-size: 18px;"></i>
                                  {% endif %}
                    
                                </td>
                                <td>
                                {% if members.created_by.payment_user %}
                                    <button type="button" class="btn btn-primary paid-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{members.id}}">
                                        Paid
                                    </button>

                                    {% if members.created_by.payment_user.payment_ss == "" %}
                                    <div class="modal fade" id="staticBackdrop{{members.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Payment Details</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <div class="khalti" style="display: flex; align-items: center; flex-direction: column;">
                                                <h4>Paid via khalti</h4>
                                                <img src="https://i0.wp.com/www.merorojgari.com/wp-content/uploads/2022/02/Khalti-logo.png?fit=512%2C512&ssl=1" style="width:20%;" alt="" srcset="">
                                                <span><strong>Amount:</strong>Rs. {{members.created_by.payment_user.amount_in_rs}}</span>
                                                <span><strong>Payment Date:</strong>{{members.created_by.payment_user.created_at}}</span>
                                              </div>
                                            
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="modal fade" id="staticBackdrop{{members.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                      <div class="modal-dialog modal-dialog-centered">
                                          <div class="modal-content">
                                          <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Payment Details</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                            <div class="ss" style="display: flex; align-items: center; flex-direction: column;">
                                              <h4>Paid via QR-Code</h4>
                                              <a href="{{members.created_by.payment_user.payment_ss.url}}" data-fancybox="payment" data-caption="Payment" style="display: flex; align-items: center; justify-content: center">
                                                  <img src="{{members.created_by.payment_user.payment_ss.url}}" style="width:20%;" alt="" srcset="">
                                              </a>
                                              <span><strong>Payment Date:</strong>{{members.created_by.payment_user.created_at}}</span>
                                            </div>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  {% endif %}
                                {% endif %}

                                {% if not members.created_by.payment_user %}
                                    <button type="button" class="btn btn-primary unpaid-btn" data-bs-toggle="modal" data-bs-target="#staticBackdroph1">
                                        Not Paid
                                    </button>
                                    <div class="modal fade" id="staticBackdroph1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelh1" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Payment Details</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <div class="pending" style="display: flex; align-items: center; flex-direction: column;">
                                                <h4>Payment Pending</h4>
                                                <img src="https://media.istockphoto.com/id/1384432216/vector/hourglass-transaction-and-request-pending-icon-pixel-perfect-editable-stroke-color.jpg?s=612x612&w=0&k=20&c=qklCIG8D4Uw9OguLitnXZXPgc3R0lrnMmVs2__8cYrQ=" width="20%" alt="">
                                              </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                {% endif %}
                                </td>

                                <td class="action-tab">
                                    <a href="{% url 'ins_verification_page' id=members.id %}"><i class="fa-regular fa-eye"></i></a>
                                    <a href="{% url 'edit_ins_membership' id=members.id %}"><i class="fa-regular fa-pen-to-square"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                  </div>
    
    
                </div>
    
    
    
            </div>
        </div>

        


    </section>

    <script src="https://code.jquery.com/jquery-3.7.0.js">

    </script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>


    <script>
          $('#example').dataTable( {
              "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ]
          } );
      </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"
    integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
</body>

</html>

{% endblock %}