{% extends "base/header-footer.html" %}
{% load static %}
{% block container %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css"
         integrity="sha512-nNlU0WK2QfKsuEmdcTwkeh+lhGs6uyOxuUs+n+0oXSYDok5qy0EI0lt01ZynHq6+p/tbgpZ7P+yUb+r71wqdXg=="
         crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
  <body>

    <section id="dashboard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    
                    {% include 'base/sidebar.html' %}
    
                </div>
              
                <div class="col-md-10">
                    <div class="dashboard-mid-part">
                        <div class="table-data">
                            <div class="mid-complain-heading">
                            
                                <div class="dash-header">
                                    <a onclick="goBack()" href="#" id="back-button">
                                    <div class="pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="24" height="24" viewBox="0 0 24 24"
                                            fill="none">
                                            <path
                                                d="M13.7369 17.5254C13.6332 17.5256 13.5305 17.5052 13.4347 17.4655C13.3388 17.4259 13.2518 17.3677 13.1786 17.2942L8.44174 12.5574C8.29379 12.4092 8.21069 12.2084 8.21069 11.9991C8.21069 11.7897 8.29379 11.5889 8.44174 11.4408L13.1786 6.70392C13.3266 6.55584 13.5275 6.47266 13.7369 6.47266C13.9463 6.47266 14.1471 6.55584 14.2952 6.70392C14.4433 6.85199 14.5265 7.05282 14.5265 7.26223C14.5265 7.47164 14.4433 7.67248 14.2952 7.82055L10.1167 11.9997L14.2952 16.1776C14.4056 16.288 14.4809 16.4287 14.5113 16.5819C14.5418 16.735 14.5262 16.8938 14.4664 17.0381C14.4066 17.1823 14.3054 17.3056 14.1756 17.3924C14.0457 17.4791 13.8931 17.5254 13.7369 17.5254Z"
                                                fill="black" />
                                        </svg>
                                    </div></a>
                                    <div class="heading">
                                        <p>My Membership Details</p>
                                    </div>
                                </div>
                                <div class="heading2">
                                    <a href="https://pdfmachine.kantipurinfotech.com.np/public/api/studentcard/{{gl.id}}" target="_blank">
                                        <button class="btn">Download PDF</button>
                                    </a>
                                </div>
                            </div>
    
                            {% for message in messages %}
                            {% if message.tags == "success" %}
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% elif message.tags == "error" %}
                            <div class="failed-message">
                                {{message}}
                            </div>
                            {% elif message.tags == "info" %}
                            <div class="info-message">
                                {{message}}
                            </div>
                            {% endif %}
                            {% endfor %}

                            <div class="general-table">

                                <div class="card card-struture">
                                    <div class="card-header">
                        
                                        <button type="button" class="btn btn-warning">1. Personal Information</button>
                        
                                    </div>
                                    <div class="card-body fi">
                                        <div class="lefti">
                                            <div class="left-field">
                                                <h6 class="heading-title">Name Of Applicants:</h6>
                                                <h6 class="heading-title">Nationality:</h6>
                                                <h6 class="heading-title">Affiliation:</h6>
                                                <h6 class="heading-title">Date Of Birth:</h6>
                                            </div>
                                            <div class="right-field">
                                                <p>{{gl.name_of_applicant}}</p>
                                                <p>{{gl.get_nationality_display}}</p>
                                                <p>{{gl.affiliation}}</p>
                                                <p>{{gl.dob}}</p>
                                            </div>
                                        </div>
                                        <div class="righti">
                                            <div class="left-field">
                                                <h6 class="heading-title">Issued From:</h6>
                                                <h6 class="heading-title">Citizen Card No:</h6>
                                                <h6 class="heading-title">Gender:</h6>
                                                <h6 class="heading-title">Permanent Address:</h6>
                                            </div>
                                            <div class="right-field">
                                                <p>{{gl.issued_from}}</p>
                                                <p>{{gl.citizenship_card_no}}</p>
                                                <p>{{gl.get_gender_display}}</p>
                                                <p>{{gl.permanent_address}}</p>
                                            </div>
                                        </div>
                        
                        
                                    </div>
                                </div>
                        
                                <div class="card card-struture">
                                    <div class="card-header">
                                        <button type="button" class="btn btn-warning">2. Education</button>
                                    </div>
                                    <div class="card-body fi">
                                        <div class="legh">
                                            <div class="lefti">
                                                <div class="left-field">
                                                    <h6 class="heading-title">Level:</h6>
                                                    <h6 class="heading-title">Institution:</h6>
                                                    <h6 class="heading-title">Country of Institution:</h6>
                                                    <h6 class="heading-title">Expected Passed Year:</h6>
                                                </div>
                                                <div class="right-field">
                                                    <p>{{gl.level}}</p>
                                                    <p>{{gl.institution}}</p>
                                                    <p>{{gl.get_country_of_institution_display}}</p>
                                                    <p>{{gl.expected_pass_year}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="card card-struture work-exp">
                                    <div class="card-header">
                                        <button type="button" class="btn btn-warning">3. Documents </button>
                                    </div>
                                    <div class="card-body fi">
                                        <div class="doc">
                                            <div class="left-field">
                                                <h6 class="heading-title">PP photo:</h6>
                        
                                            </div>
                                            <div class="right-field">
                                                
                                                <span> 
                                                    <a href="{{gl.pp_photo.url}}" data-fancybox data-caption="Photo">
                                                        <img src="{{gl.pp_photo.url}}" />
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="doc">
                                            <div class="left-field">
                                                <h6 class="heading-title">Citizenship:</h6>
                        
                                            </div>
                                            <div class="right-field">
                                                <span>
                                                    <a href="{{gl.citizenship.url}}" data-fancybox data-caption="Citizenship">
                                                        <img src="{{gl.citizenship.url}}" />
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="doc">
                                            <div class="left-field">
                                                <h6 class="heading-title">College ID Card:</h6>
                        
                                            </div>
                                            <div class="right-field">
                                                <span>  
                                                    <a href="{{gl.college_id_card.url}}" data-fancybox data-caption="Document">
                                                        <img src="{{gl.college_id_card.url}}" />
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                        
                        
                                    </div>
                                </div>
                                                        
                            </div>
                        
                        </div>
                        
                    </div>
    
    
                </div>
    
    
    
    
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"
         integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA=="
         crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
</html>

{% endblock %}