{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NGS | Membership Portal</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}" >

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  
  </head>
  <body>

<section id="forget-password">
    <div class="position-manage">
        <div class="forget-box">
            <div class="login-logo">
                
            </div>


            {% if validlink %}
            <div class="login-head">
                <h5>Reset Password</h5>
                <p>Enter new password<br>your old password will be changed with new password.</p>
            </div>
            
            <form action="" method="post">
                {% csrf_token %}
                <div class="member-info">
                    <p class="required">New Password</p>
                    <div class="info-inner">
                        <input type="password" name="new_password1" id="newpass" placeholder="Enter Old Password" required>
                        <div class="input-group-append">
                            <span span class="input-group-text" onclick="password_show_hide();">
                                <i class="fas fa-eye" id="show_eye"></i>
                                <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="member-info">
                    <p class="required">Retype New Password</p>
                    <div class="info-inner">
                        <input type="password" name="new_password2" id="retypepass" placeholder="Enter Old Password" required>
                        <div class="input-group-append">
                            <span span class="input-group-text" onclick="password_show_hide1();">
                                <i class="fas fa-eye" id="show_eye1"></i>
                                <i class="fas fa-eye-slash d-none" id="hide_eye1"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="login-button">
                    <button type="submit">
                        Reset password
                    </button>
                </div>
            </form>
            {% else %}
            <h5>Reset Password</h5>
            <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
            {% endif %}

            <div class="login-signup">
                <p>Back to Login</p>
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>

    <div class="copyright-register">
        <p>© 2023 www.prasashan.com सर्वाधिकार सुरक्षित</p>
    </div>
</section>

<script>
    function password_show_hide() {
var x = document.getElementById("newpass");
var show_eye = document.getElementById("show_eye");
var hide_eye = document.getElementById("hide_eye");
hide_eye.classList.remove("d-none");
if (x.type === "password") {
  x.type = "text";
  show_eye.style.display = "none";
  hide_eye.style.display = "block";
} else {
  x.type = "password";
  show_eye.style.display = "block";
  hide_eye.style.display = "none";
}
}
  </script>

<script>
    function password_show_hide1() {
var x = document.getElementById("retypepass");
var show_eye = document.getElementById("show_eye1");
var hide_eye = document.getElementById("hide_eye1");
hide_eye.classList.remove("d-none");
if (x.type === "password") {
  x.type = "text";
  show_eye.style.display = "none";
  hide_eye.style.display = "block";
} else {
  x.type = "password";
  show_eye.style.display = "block";
  hide_eye.style.display = "none";
}
}
  </script>
  
      <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"
      ></script>
    </body>
  </html>